@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Welcome!";
}

@section featured {
<section class="featured">
    <div class="content-wrapper">
        <hgroup class="title">
            <h1>@Page.Title.</h1>
            <h2>Personal Safety - It's all about <b>YOU!</b></h2>
        </hgroup>
        <p>
            Taking charge of your own safety can mean many things.  It starts with awareness, and an understanding of how a criminal thinks.
            Avoidance is the first step in staying safe.  But some things are "unavoidable".  If that happens, how would you handle it?
        </p>
    </div>
</section>
}

<h3>What we offer:</h3>

<ol class="round">
    <li class="one">
        <h5>AVOID</h5>
        EVERYONE will be able to sense when something bad is about to happen.  They key is to recognize what your body and senses are telling you and react to it as quickly as possible.
    </li>

    <li class="two">
        <h5>REACT</h5>
        Senshido is a hand to hand fighting technique designed to turn the tables on your opponent.
        <a href="http://www.senshidoct.com">Learn more…</a>
    </li>

    <li class="three">
        <h5>PREPARE</h5>
        Owning or carrying a firearm isn't for everyone.  Only YOU can decide if you are ready for the responsibility.  Take the first step and train with us.
        <a href="http://learntoshoot.mysafetyoptions.com">Learn more…</a>
    </li>
</ol>